html {
    height: 100%;
}

body {
    /* Color */
    background-color: pink;
    /* Other */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container-deco {
    /* Other */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
    margin: 0px;
}

.container-border {
    /* Color */
    background-color: lavender;
    /* Other */
    box-shadow: 0 4px 2px -2px palevioletred;
    border-radius: 0 0 24px 24px; 
    padding: 24px;
    margin: 0px;
}

.container {
    /* Font */
    font-size: 22px;
    font-weight: bold;
    color: pink;
    /* Other */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
}

button {
    /* Color */
    background-color: lavenderblush;
    /* Font */
    font-size: 22px;
    font-weight: bold;
    /* Other */
    border: 0;
    border-radius: 24px;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 0;
}

button:hover {
    /* Color */
    background-color: pink;
}

button:active {
    /* Color */
    background-color: palevioletred;
    /* Font */
    font-size: 24px;
}

.options {
    /* Color */
    background-color: lavender;
    /* Other */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.score {
    /* Color */
    background-color: lavender;
    /* Other */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 12px;
    padding: 0;
    margin: 0 0 24px 0;
    height: 60px;
}

.score > div {
    /* Color */
    background-color: lavenderblush;;
    /* Other */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

#player-score {
    flex-grow: 1;
    border-radius: 24px 0 0 24px;
    transition: flex-grow 0.5s;
}

#computer-score {
    flex-grow: 1;
    border-radius: 0 24px 24px 0;
    transition: flex-grow 0.5s;
}

.text {
    /* Color */
    background-color: lavenderblush;
    /* Other */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 24px;
    margin: 24px 0 0 0;
    padding: 24px;
    height: 150px;
}

.text > p {
    /* Other */
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
}

#output{
    transition: opacity 1s;
}


/* DECORATIVE */
.outer-left-triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid lavender;
    border-radius: 0 24px 0 0;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.outer-right-triangle {
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 100px solid lavender;
    border-radius: 24px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.inner-left-triangle {
    width: 0;
    height: 0;
    border-left: 70.7px solid transparent;
    border-bottom: 70.7px solid palevioletred;
    border-radius: 24px;
    margin: 35px 17.5px 0 0;
}

.inner-right-triangle {
    width: 0;
    height: 0;
    border-right: 70.7px solid transparent;
    border-bottom: 70.7px solid palevioletred;
    border-radius: 24px;
    margin: 35px 0 0 17.5px;
}

/* ANIMATIONS */
.animation-fadeOut{
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}